/*este se encargara de darle bien la estructura de toddos*/
@import "/app/components/Profile/profiles.css";
@import "/app/components/Profile/profileElem/profile.css";

h1,h2,h3,p,span,a{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 16px;
    
}

.profileList{
    display: flex;
    flex-direction: row;
    background-color: aqua;

}