section{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.my-profiles{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.alo{
    color:aqua;
}